/*
Edit
navy: 003348
maroon: 8A0000 or 660A0B
golden: DAA520
Charcoal: 283845
*/

/* background colors */

body {
    margin: 0px;
    padding: 0px;
    background-color:#e5e5e5;

   
}
.cp-bg-navy {
background-color: #003348;
}

.cp-bg-maroon {
background-color: #660A0B;
}

.cp-bg-golden {
    background-color:#DAA520;
    }

.cp-bg-Charcoal {
background-color: #283845;
}


  /* font colors */
.cp-text-black {
color: black;
}

.cp-text-brown {
color: white;
}


.section {
    width: 100%;
    float: left;
    overflow: hidden; }

img{ 
    overflow: hidden;
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 20px black;
}

.zodiacImg{
    overflow: hidden;
    height:25%;
    width: 25%;
    box-shadow: 0px 0px 100px black;
    transition: 0.3s; ;
}
.zodiacImg:hover {
    background-color: #d3ddd3;
    color: rgb(146, 88, 88);
    cursor:pointer;
    text-decoration: none;
    transition: .3s;
}
#aries:hover{
    opacity:1.3;

}


.header{
    position: relative;
    height:100px;
    overflow: hidden;
}
.opacity{
    background-color:black;
    height: 100%;
    width: 100%;
    opacity: 70%;
    z-index: 100;
}
.imgcontainar{
    position: absolute;
    }
.skyImg{
    position: absolute;
    top: -500px;
    
}

.textContainar1{
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    line-height: 60px;
    text-align:left;
    font-size: 60px;
    color: white;
    z-index: 120;
}
.textContainar2{
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    line-height: 60px;
    text-align:right;
    font-size: 30px;
    color: white;
    z-index: 120;
    
}
a:link, a:visited {
    
    color: white;
    padding: 14px 25px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    
}
@-webkit-keyframes pulse {
    0% {
    -webkit-transform: translate(0, 0);
        transform: translate(0, 0); }
    50% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px); }
    100% {
    -webkit-transform: translate(0, 0);
        transform: translate(0, 0); } }





.backgrounds {
    width: 100%;
    height: 100%;
    position: fixed;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    z-index: -1; }
    .backgrounds .background {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    background-attachment: fixed; }

    *,
*:before,
*:after {
box-sizing: border-box; }

a {
text-decoration: none;
color: #FF4081; }

.overlay:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: #373941;
    opacity: 0.8; }

/*Hero section - A section deticated to what the user first sees when the arrive on the page  -- 
*/


.hero {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    color: #FFF;
    text-align: center; }

.hero-center {
    width: 100%;
    position: absolute;
    top: 40%;
    left: 0;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%); }

.hero__logo {
    font-size: 60px;
    color: rgba(0, 0, 0, 0.5); }

    .hero__scroll {
        position: absolute;
        bottom: 60px;
        width: 200px;
        margin: auto;
        display: block;
        cursor: pointer;
        padding-bottom: 40px;
        left: 0;
        right: 0;
        text-transform: uppercase; }
        .hero__scroll .chevron {
        margin-top: 20px;
        display: block;
        -webkit-animation: pulse 2s infinite;
                animation: pulse 2s infinite;
        color: #FF4081; }


#canvas-image-blending {

    background-size: cover; 

    width: 100%;
    height: 100%; 
    top: 0;
    left: 0;
    background-attachment: fixed;

}
body {
    font-family: Helvetica,Tahoma;
    margin: 0;
    padding: 0;
    overflow-x: hidden; }

.button {
    height: 500px;
    width: 100%;
    color: #FF4081;
}

element.style {
    display: none;
}

#myImg {

    border-radius: 2px;
    cursor: pointer;
    transition: .3s;
}

/* #myImg: hover {opacity: 0.7;} */




.chevron::before {
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    content: '';
    display: inline-block;
    height: 20px;
    position: relative;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    vertical-align: top;
    width: 20px; }

.chevron.right:before {
    left: 0;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }

.chevron.bottom:before {
    top: 0;
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg); }

.chevron.left:before {
    left: 0.25em;
    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg); }



/* Unused code */
            /* .textContainar1{
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    line-height: 60px;
    text-align:left;
    font-size: 60px;
    color: white;
    z-index: 120;
}
.textContainar2{
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    line-height: 60px;
    text-align:right;
    font-size: 30px;
    color: white;
    z-index: 120; */
/* } */
/* 
Edit
navy: 003348
maroon: 8A0000 or 660A0B
golden: DAA520
Charcoal: 283845
*/

/* background colors */

/* .cp-bg-navy {
background-color: #003348;
}

.cp-bg-maroon {
background-color: #660A0B;
}

.cp-bg-golden {
    background-color:#DAA520;
    }

.cp-bg-Charcoal {
background-color: #283845;
}


  /* font colors */
/* .cp-text-black {
color: black;
}

.cp-text-brown {
} */
