/*
Edit
navy: 003348
maroon: 8A0000 or 660A0B
golden: DAA520
Charcoal: 283845
*/

/* background colors */

body {
    margin: 0px;
    padding: 0px;
    background-color:#e5e5e5;
}
.cp-bg-navy {
background-color: #003348;
}

.cp-bg-maroon {
background-color: #660A0B;
}

.cp-bg-golden {
    background-color:#DAA520;
    }

.cp-bg-Charcoal {
background-color: #283845;
}


  /* font colors */
.cp-text-black {
color: black;
}

.cp-text-brown {
color: white;
}


hover {
    color:white;
    text-decoration: underline;
}
img{
    overflow: hidden;
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 20px black;
}

text{
    font-size: larger;
    font-family: "Aquifer", Courier, Cursive;
    color: black;
}
