
.resizeImage{
    height: 200px ;
}

#testImage{
    width:20%;
}

h3, h1, p{
    text-align: center;
    align-items: center;
    color: rgb(228, 83, 107)

}
/* h3{
    color: white;
    padding: 20px
    ; */
/* } */
img{
    vertical-align: middle;
    border-style: none;
    width: 2500px;
    height: 1600px
}

.z10{
    z-index: 10;
}

h3, h1, p{
    text-align: center;
    align-items: center;
    color: rgb(228, 83, 107)
}
h3{
    color: white;
    padding: 20px
    ;
}
img{
    vertical-align: middle;
    border-style: none;
    width: 100px;
}


