
.resizeImage{
    height: 200px ;
}

#testImage{
    width:20%;
}

h3, h1, p{
    text-align: center;
    align-items: center;
    color: rgb(228, 83, 107)

}
h1{
    padding-top: 50px;
}
h3{
    padding: 100px 200px 200px;
}



.z10{
    z-index: 10;
}


img{
    vertical-align: middle;
    border-style: none;
    width: 100px;
}


